#root{
  display:flex;
  justify-content: center;
}

.App{
  display:flex;
  justify-content: center;
  max-width: 900px;
  width: 100%;
 
}

.photoHolder{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background: cornsilk;
  margin-top: 1rem;
}

img{
  width:100%;
}